@page "/albums"

<h3>Albums</h3>
@if (Data is not null)
{
    @if (Data.HasAlbums)
    {
        @foreach (var item in Data.Albums)
        {
            <div class="album-row">
                <PhotoBrowser.Components.CardAlbum AlbumData="@item" AlbumSelected="HandleAlbumSelection" />
            </div>
        }
    }
    else
    {
        @if (Data?.ResponseStatus == Models.ResponseStatus.Failure)
        {
            <div>There has been error: @Data.ErrorMessage</div>
        }
        else
        {
            <div>loading...</div>
        }
    }
}
