@page "/albums"

<h3>Albums</h3>

@if (Data is not null)
{
    @foreach (var item in Data.Albums)
    {
        <PhotoBrowser.Components.CardAlbum AlbumData="@item" AlbumSelected="HandleAlbumSelection" />
    }
}
