@page "/albums"

<h3>Albums</h3>
@if (Data is not null)
{
    @foreach (var item in Data.Albums)
    {
        <div class="album-row">
            <PhotoBrowser.Components.CardAlbum AlbumData="@item" AlbumSelected="HandleAlbumSelection" />
        </div>
    }
}
else
{
    <h4>BAA BAA</h4>
}
