.photo-card-holder {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    margin-top: var(--margin);
}

.sticky {
    background-color: var(--primary-bg-color-darker);
    border-bottom: 1px solid var(--primary-bg-color-darkest);
    justify-content: flex-start;
    height: 3.5rem;
    display: flex;
    align-items: center;
    gap: var(--gap);
    padding-left: var(--padding);
    position: sticky;
    top: 0;
    z-index: 1;
}

.position-right {
    margin-left: auto;
    margin-right: var(--margin);
    margin-top: auto;
    cursor: pointer;
}

.pagination > span {
    padding-inline: var(--padding);
}