@page "/photo/{photoId:int}"

<h3>Photo @photo?.title</h3>

@if (photo is not null)
{
    <img src=@photo.url />
    <PhotoBrowser.Components.Label Title="Owner" OnClick=@UserClick>
        <button>@Owner</button>
    </PhotoBrowser.Components.Label>
}
else
{
    @if (Data?.ResponseStatus == Models.ResponseStatus.Failure)
    {
        <div>There has been error: @Data.ErrorMessage</div>
    } 
    else
    {
        <div>loading...</div>
    }
}
<button onclick="history.back()">Back to photos</button>
