@page "/users"

<h3>Users</h3>

@if (Data is not null)
{
    <div class="users-container">
        @foreach (var item in Data.Users)
        {
            <div class="card-row">
                <PhotoBrowser.Components.CardUser 
                    UserData=@item 
                    Selected=IsSelected(item.id)
                    UserSelected="HandleUserSelection" 
                    UserClicked="HandleUserToggle"/>
            </div>
        }
    </div>
}
