@page "/users"

<h3>Users</h3>

@if (Data is not null)
{
    @if (Data.HasUsers)
    {
        
    <div class="users-container">
        @foreach (var item in Data.Users)
        {
            <div class="card-row">
                <PhotoBrowser.Components.CardUser 
                    UserData=@item 
                    Selected=IsSelected(item.id)
                    UserSelected="HandleUserSelection" 
                    UserClicked="HandleUserToggle"/>
            </div>
        }
        </div>
    }
    else
    {
        @if (Data?.ResponseStatus == Models.ResponseStatus.Failure)
        {
            <div>There has been error: @Data.ErrorMessage</div>
        }
        else
        {
            <div>loading...</div>
        }
    }
}
