@page "/users"

<h3>Users</h3>

@if (Data is not null)
{
    @foreach (var item in Data.Users)
    {
        <PhotoBrowser.Components.CardUser UserData="@item" UserSelected="HandleUserSelection" />
    }
}
