.card-content {
    background-color: var(--primary-bg-color-dark);
    border-top: var(--border);
    padding-left: var(--padding);
    padding-left: var(--padding);
    padding-block: var(--padding);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "name company"
        "address address"
        "control control";
}

.card-content.hidden {
    height: 0px;
    display: none;
}

.card-title {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    padding: var(--padding);
    gap: var(--gap);
    margin-bottom: 0 !important;
}

.card-title > img {
    width: 1.2rem;
    height: 1.2rem;
}

.card-contact {
    grid-area: name;
}

.card-company {
    grid-area: company;
}

.card-address {
    grid-area: address;
}

.card-control {
    grid-area: control;
}
