<div class="card-container">
    <div class="card-title" onclick=@(() => HandleUserActivation())>
        <img src="@CardOpened" />
        <span>User:</span>
        <span>@UserData?.name</span>
        <span>@UserData?.username</span>
    </div>
    <div class=@CardClass>
        <div class="card-contact">
            <Label Title="Email">@UserData?.email</Label>
                <Label Title="Phone">@UserData?.phone</Label>
                <Label Title="Website">@UserData?.website</Label>

            </div>
            <div class="card-company">
                <Label Title="Name">@UserData?.company?.name</Label>
            <Label Title="Phrase">@UserData?.company?.catchPhrase</Label>
            <Label Title="Bs">@UserData?.company?.bs</Label>
        </div>
        <div class="card-address">
                <Label Title="Street">@UserData?.address?.street</Label>
                <Label Title="Suite">@UserData?.address?.suite</Label>
                <Label Title="City">@UserData?.address?.city</Label>
                <Label Title="Zip">@UserData?.address?.zipcode</Label>
                <Label Title="Lat">@UserData?.address?.geo?.lat</Label>
                <Label Title="Long">@UserData?.address?.geo?.lng</Label>

        </div>
        <div class="card-control">
            <button @onclick=HandleOnClick>Show user images</button>
        </div>
    </div>
</div>
