.card-content {
    background-color: #FAFAFA;
    border-top: 1px solid black;
    padding-left: 1em;
    padding-block: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "name company"
        "address address"
        "control control";
}

.card-content.hidden {
    height: 0px;
    display: none;
}

.card-title {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    gap: 1em;
    margin-bottom: 0 !important;
}

.card-title > img {
    width: 1.2rem;
    height: 1.2rem;
}

.card-contact {
    grid-area: name;
}

.card-company {
    grid-area: company;
}

.card-address {
    grid-area: address;
}

.card-control {
    grid-area: control;
}
