@using PhotoBrowser.Models

@if (PhotoData is not null)
{
    <div class="photo-card" @onclick="HandlePhotoClick">
        <div class="image"><img src=@PhotoData.thumbnailUrl /></div>
        <Label Title="Title">@PhotoData.title</Label>
        <Label Title="Owner">@Data?.GetUserNameByAlbum(PhotoData.albumId)</Label>
    </div>
}
