<div class="album-card" onclick=@(() => HandleAlbumSelection())>
    <Label title="Album">@AlbumData?.title</Label>
    <Label Title="Owner">@Data?.GetUserNameByAlbum(AlbumData.id)</Label>
    <Label Title="Photos">@Data?.GetPhotoCountByAlbum(AlbumData.id) pcs.</Label>
</div>
